        * {
            box-sizing: border-box;
        }

        body {
            font-family: cursive;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            border: 4px solid black;
            background-color: #E5DDC8;
            width: 90%;
            height: 250px;
            margin-right: auto;
            margin-left: auto;
            font-family: cursive;
            color: black;
            overflow: auto;
        }

        #span1{
            text-align: center;
            background-color: maroon;
            color: white;
            border: 2px solid black;
            width: 100px;
            height: 40px;
            padding: 5px;
            float: right;
            margin-right: 36px;
            margin-top: 0px;
            font-weight: bold;
            position: relative;
            top: 40px;
            left: 15px;
        }

        #span2{
            text-align: center;
            background-color: darkblue;
            color: white;
            border: 2px solid black;
            width: 100px;
            height: 40px;
            padding: 5px;
            float: right;
            margin-right: 36px;
            margin-top: 0px;
            font-weight: bold;
            position: relative;
            top: 40px;
            left: 14px;
        }

        #span3{
            text-align: center;
            background-color: darkcyan;
            color: white;
            border: 2px solid black;
            width: 100px;
            height: 40px;
            padding: 5px;
            float: right;
            margin-right: 36px;
            margin-top: 0px;
            font-weight: bold;
            position: relative;
            top: 40px;
            left: 14px;
            display: block;
        }

        .row {
            width: 100%;
            position: relative;
        }

        @media (min-width: 992px) {
            .col-lg-1, .col-lg-2, .col-lg-3 {
                float: left;
                }
                .col-lg-1 {
                width: 33.33%;
                }
                .col-lg-2 {
                width: 33.33%;
                }
                .col-lg-3 {
                width: 33.33%;
                }
            }

        @media (min-width: 768px) and (max-width: 991px) {
            .col-md-1, .col-md-2, .col-md-3 {
                float: left;
                }
            .col-md-1 {
            width: 50%;
            }
            .col-md-2 {
            width: 50%;
            }
            .col-md-3 {
            width: 100%;
            }
        }
        
        @media (max-width: 767px) {
            .col-sm-1, .col-sm-2, .col-sm-3 {
                float: left;
                }
            .col-sm-1 {
            width: 100%;
            }
            .col-sm-2 {
            width: 100%;
            }
            .col-sm-3 {
            width: 100%;
            }
        }

        .description {
            font-size: 15px;
            text-align: left;
            padding: 50px 10px 5px 10px;
        }